<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="holder.js/300x300" alt="..." src="~/Content/images/album/totalcover.jpg">
            <div class="caption">
                <h3>Album</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">Add</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="holder.js/300x300" alt="..." src="~/Content/images/album/totalcover.jpg">
            <div class="caption">
                <h3>Album</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">Add</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="holder.js/300x300" alt="..." src="~/Content/images/album/totalcover.jpg">
            <div class="caption">
                <h3>Album</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">Add</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="holder.js/300x300" alt="..." src="~/Content/images/album/totalcover.jpg">
            <div class="caption">
                <h3>Album</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">Add</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="holder.js/300x300" alt="..." src="~/Content/images/album/totalcover.jpg">
            <div class="caption">
                <h3>Album</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">Add</a></p>
            </div>
        </div>
    </div>

</div>