<div class="list-group">
    <a href="#" class="list-group-item active">
        GENRE
    </a>
    <a href="#" class="list-group-item">POP</a>
    <a href="#" class="list-group-item">ROCK</a>
    <a href="#" class="list-group-item">JAZZ</a>
    <a href="#" class="list-group-item">BLUE</a>
</div>
