2. Source/MusicStore/bin/Antlr3.Runtime.dll
2. Source/packages
2. Source/MusicStore/bin
2. Source/MusicStore.Tests/bin
2. Source/MusicStore/obj
2. Source/MusicStore.Tests/obj
2. Source/MusicStore.Tests/bin
2. Source/MusicStore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2. Source/MusicStore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2. Source/MusicStore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2. Source/MusicStore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache