2. Source/MusicStore/bin/Antlr3.Runtime.dll
2. Source/packages
2. Source/MusicStore/bin
2. Source/MusicStore.Tests/bin
2. Source/MusicStore/obj
2. Source/MusicStore.Tests/obj
2. Source/MusicStore.Tests/bin
2. Source/MusicStore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2. Source/MusicStore/obj/Debug
2. Source/MusicStore/obj/Debug/MusicStore.dll
2. Source/MusicStore/obj/Debug/MusicStore.pdb
2. Source/MusicStore.v12.suo
2. Source/MusicStore/MusicStore.csproj.user
2. Source/MusicStore.v12.suo
*.cache
2. Source/MusicStore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2. Source/MusicStore.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2. Source/MusicStore.v12.suo
2. Source/MusicStore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2. Source/MusicStore.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
2. Source/MusicStore/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
